<launch>
  <arg name="robot_name" default="M350"/>
  <arg name="use_sim_time" default="false"/>
  <let name="robot_urdf" value="$(var robot_name).urdf"/>


  <group>
    <push-ros-namespace namespace="$(var robot_name)"/>

    <node name="alars_robot_state_publisher" pkg="robot_state_publisher" exec="robot_state_publisher" respawn="true" output="screen">
      <param name="use_sim_time" value="$(var use_sim_time)"/>
      <param name="frame_prefix" value="$(var robot_name)/"/>
      <param name="robot_description" 
           value="$(command '$(find-exec cat) $(find-pkg-share alars_description)/urdf/$(var robot_urdf)')"/>
    </node>

  </group>

</launch>
