<launch>
  <arg name="robot_name" default="lolo" />

  <node pkg="geofence_checker" exec="geofence_checker_service" name="geofence_checker_node" output="screen" namespace="$(var robot_name)">
    <param name="update_rate" value="asko.yaml" />
    <param name="verbose" value="True" />
  </node>

  <node pkg="geofence_checker" exec="geofence_checker_client" name="geofence_client_node" output="screen" namespace="$(var robot_name)">
    <param name="verbose" value="True" />
  </node>

</launch>