__pycache__
.vscode

.idea/

mpc_codegen
c_generated_code

mlartifacts
mlruns
results.csv


COLCON_IGNORE
path_planning/alars/alars_auv_search_planner/
perception/auv_yolo_detector/bags
perception/auv_yolo_detector/images
perception/auv_yolo_detector/venv