<launch>
  <arg name="robot_name" default="sam" />
  <arg name="tf_suffix" default="_gt"/>
  <arg name="use_sim_time" default="true"/>
  
  <node pkg="sam_path_planning" exec="sam_planner_node" name="sam_planner_node" output="screen" namespace="$(var robot_name)">
    <param name="robot_name" value="$(var robot_name)" />
    <param name="use_sim_time" value="$(var use_sim_time)" />
  </node>

  <node pkg="go_to_hydrobaticpoint" exec="client" name="hydrobatic_client" output="screen" namespace="$(var robot_name)">
    <param name="robot_name" value="$(var robot_name)" />
    <param name="use_sim_time" value="$(var use_sim_time)" />
  </node>

  <node pkg="go_to_hydrobaticpoint" exec="server" name="hydrobatic_server" output="screen" namespace="$(var robot_name)">
    <param name="use_sim_time" value="$(var use_sim_time)" />
    <param name="robot_name" value="$(var robot_name)" />
    <param name="target_frame" value="base_link" />
    <param name="distance_frame" value="base_link" />
    <param name="distance_frame_suffix" value="" />
    <param name="frame_suffix" value="" />
    <param name="setpoint_tolerance" value="0.1" />
    <param name="goal_threshold" value="9" />
  </node>

  <node pkg="sam_emergency_action" exec="server" name="emergency_server" output="screen" namespace="$(var robot_name)">
    <param name="use_sim_time" value="$(var use_sim_time)" />
    <param name="robot_name" value="$(var robot_name)"/>
    <param name="pub_frequency" value="10"/>
    <param name="lcg_percentage" value="40.0"/>
  </node>

</launch>
