<launch>
  <arg name="robot_name" default="sam" />
  

  <node pkg="go_to_hydrobaticpoint" exec="client" name="hydrobatic_client" output="screen" namespace="$(var robot_name)">
    <param name="robot_name" value="$(var robot_name)" />
    <param name="use_sim_time" value="false" />
  </node>

  <node pkg="go_to_hydrobaticpoint" exec="server" name="hydrobatic_server" output="screen" namespace="$(var robot_name)">
    <param name="robot_name" value="$(var robot_name)" />
    <param name="use_sim_time" value="false" />
  </node>

  <node pkg="sam_path_planning" exec="sam_planner_node" name="sam_planner_node" output="screen" namespace="$(var robot_name)">
    <param name="robot_name" value="$(var robot_name)" />
    <param name="use_sim_time" value="false" />
  </node>

</launch>