<launch>
  <arg name="robot_name" default="sam" />
  
  <node pkg="sam_path_planning" exec="topic_collector_node" name="topic_collector_node" output="screen" 
    namespace="$(var robot_name)">
  </node>

  <node pkg="sam_path_planning" exec="sam_planner_node" name="sam_planner_node" output="screen" 
    namespace="$(var robot_name)">
    <param name="robot_name" value="$(var robot_name)" />
    <param name="use_sim_time" value="false" />
  </node>

  <node pkg="go_to_hydrobaticpoint" exec="server" name="hydrobatic_server" output="screen" namespace="$(var robot_name)">
    <param name="use_sim_time" value="false" />
    <param name="robot_name" value="$(var robot_name)" />
    <param name="target_frame" value="base_link" />
    <param name="distance_frame" value="base_link" />
    <param name="distance_frame_suffix" value="" />
    <param name="frame_suffix" value="" />
    <param name="setpoint_tolerance" value="0.1" />
    <param name="goal_threshold" value="9" />
  </node>

  <node pkg="go_to_hydrobaticpoint" exec="client" name="hydrobatic_client" output="screen" namespace="$(var robot_name)">
    <param name="robot_name" value="$(var robot_name)" />
    <param name="use_sim_time" value="false" />
  </node>

</launch>