<launch>
  <!-- Arguments -->

  <!-- Node for the Emergency Abort Server -->
  <node name="emergency_server" pkg="sam_emergency_abort" exec="server" output="screen" namespace="$(var robot_name)">
    <param name="robot_name" value="$(var robot_name)"/>
  </node>

  <!-- Node for the Emergency Abort Client -->
  <!-- NOT RUNNING SINCE THE BT IS THE CLIENT -->
  <node name="emergency_client" pkg="sam_emergency_abort" exec="client" output="screen" namespace="$(var robot_name)">
    <param name="robot_name" value="$(var robot_name)"/>
  </node>
</launch>
