<launch>
    <arg name="robot_name" default="Quadrotor"/>
    <arg name="vision_params_yaml" default="$(find-pkg-share auv_detector)/config/realdata_config.yaml"/>

    
    <group>
        <push-ros-namespace namespace="$(var robot_name)"/>

        <node
            name="detector_node"
            pkg="auv_detector"
            exec="detector"
            output="screen">
            <!-- Declare parameters with default values -->
            <param name="robot_name" value="$(var robot_name)" />
            <param from="$(var vision_params_yaml)"/>
        </node>

        <node
            name="video_pipeline_node"
            pkg="auv_detector"
            exec="realdata"
            output="screen">
            <!-- Declare parameters with default values -->
            <param name="robot_name" value="$(var robot_name)" />
        </node>

    </group>
</launch>
