<?xml version="1.0"?>

<robot name="hula" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:arg name="debug" default="0"/>
  <xacro:arg name="namespace" default="hula"/>
  <xacro:include filename="$(find hula_description)/urdf/hula.urdf.xacro"/>
  <xacro:hula namespace="$(arg namespace)" debug="$(arg debug)"/>
</robot>
