<launch>
  <!-- Arguments -->

  <!-- Node for the Emergency Abort Server -->
  <node name="emergency_server" pkg="sam_emergency_action" exec="server" output="screen" namespace="$(var robot_name)">
    <param name="robot_name" value="$(var robot_name)"/>
    <param name="pub_frequency" value="10"/>
    <param name="lcg_percentage" value="40.0"/>
  </node>

</launch>
