<launch>
  <arg name="robot_name" default="sam0"/>
  <arg name="broker_addr" default="20.240.40.232"/>
  <arg name="broker_port" default="1884"/>

  <arg name="waraps_context" default="waraps"/>
  <arg name="waraps_domain" default="subsurface"/>
  <arg name="waraps_realsim" default="simulation"/>

  <!-- This is a set of common configs given to both nodes.  -->
  <arg name="mqtt_params_file" default="$(find-pkg-share smarc_bt)/config/waraps_config.yaml"/>

  <node name="mqtt_bridge_waraps_smarc_cloud" pkg="mqtt_bridge" exec="mqtt_bridge_node" output="screen" namespace="$(var robot_name)/waraps">
    <param from="$(var mqtt_params_file)"/>
    <param name="mqtt.connection.port" value="$(var broker_port)"/>
    <param name="mqtt.connection.host" value="$(var broker_addr)"/>
    <param name="mqtt.private_path" value="$(var waraps_context)/unit/$(var waraps_domain)/$(var waraps_realsim)/$(env USER nouser)_$(var robot_name)"/>
  </node>

  

</launch>
