<?xml version="1.0"?>

<robot name="watertank" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:arg name="debug" default="0"/>
  <xacro:arg name="namespace" default="watertank"/>
  <xacro:include filename="$(find watertank_description)/urdf/watertank.urdf.xacro"/>
  <xacro:watertank namespace="$(arg namespace)" debug="$(arg debug)"/>
</robot>
